nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
    .container
        a.navbar-brand(routerLink='/') Skydive Or Bust
        button.navbar-toggler.navbar-toggler-right(
            type='button',
            (click)='isMenuCollapsed = !isMenuCollapsed',
            aria-controls='navbarResponsive',
            aria-expanded='false',
            aria-label='Toggle navigation'
        )
            fa-icon.ml-1([icon]='["fas", "bars"]')
        .collapse.navbar-collapse([ngbCollapse]='isMenuCollapsed')
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(routerLink='/') Home
                li.nav-item
                    a.nav-link(routerLink='/r') Records
                li.nav-item
                    a.nav-link(routerLink='/e') Events
                li.nav-item
                    a.nav-link(routerLink='/p/find') Profiles
                
                
