sb-layout-blog(
    *ngIf='(profile$ | async) as profile;',
)

    sb-header(
        backgroundImage='url("assets/img/ron_shipp/16-way-2-bg.jpg")',
        [heading]='profile.name',
        subHeading='Loading Competitor Info',
        [siteHeading]='true'
    )

    ng-container
