<sb-layout-blog
    ><sb-header backgroundImage='url("assets/img/ron_shipp/2019-uspa-group-1.jpg")' heading="Events" subHeading="Upcoming Competitions" [siteHeading]="true"></sb-header>
    <nav class="navbar navbar-expand-lg navbar-light" id="pageNav">
        <div class="container">
            <ul class="navbar-nav m-auto">
                <li class="nav-item"><button>Upcoming Events</button></li>
                <li class="nav-item"><button>Past Events</button></li>
            </ul>
        </div>
    </nav>
    <ng-container></ng-container
></sb-layout-blog>
