sb-layout-blog

    sb-header(
        backgroundImage='url("assets/img/ron_shipp/2019-uspa-group-1.jpg")',
        heading='Events',
        subHeading='Upcoming Competitions',
        [siteHeading]='true'
    )

    nav.navbar.navbar-expand-lg.navbar-light#pageNav
        .container
            ul.navbar-nav.m-auto
                li.nav-item
                    button Upcoming Events
                li.nav-item
                    button Past Events

    ng-container