sb-layout-blog

    sb-header(
        backgroundImage='url("assets/img/ron_shipp/16-way-2-bg.jpg")',
        heading='Records',
        subHeading='Skydiving Record & Performance Database',
        [siteHeading]='true'
    )

    ng-container
